* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0D1B2A;
    font: normal 15pt Verdana, Geneva, Tahoma, sans-serif;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    color: white;
    padding: 15px;
}

.container {
    width: 550px;
    padding: 30px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.221);
}

input {
    margin-bottom: 20px;
}

.caixa{
    height: 25px;
}

#button {
    width: 100px;
    height: 25px;
}

footer p {
    color: white;
    font-style: italic;
    font-weight: bold;
    padding: 15px;
}